body{
    background-image: url(background.jpg);
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

body > div{
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 10px;
    margin: auto;
    padding: 70px;
    width: 650px;
    height: 420px;
    padding-bottom: 85px;
}

header{
    line-height: 5px;
}

header > img{
    display: block;
    margin:auto;
    width: 25%;
}

header > h2{
    text-align: center;
    color: lime;
}

nav > div{
    background-color: lime;
    border-radius: 5px;
    background-size: cover;
    text-align: center;
    border: 5px solid lime;
    margin-bottom: 16px;    
}

main > div{
    color: rgba(255, 255, 255, 0.877);
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
}

.FontSize{
    font-size: 18px;
    color: aliceblue;
}

.ChargeState70{
    background-color: orange;
    border: 10px solid orange;
    border-radius: 4px;
    display: block;
    max-width: 40%;
}

.ChargeState100{
    background-color: green;
    border: 10px solid green;
    border-radius: 4px;
    display: block;
    max-width: 60%;
}

.ChargeState25{
    background-color: red;
    border: 10px solid red;
    border-radius: 4px;
    display: block;
    max-width: 20%;
}
